
h1 {
    text-align: center;
}

h2 {
    margin-top: 0;
}

span.lit, code {
    font-family: monospace;
    font-size: 1.1em;
}

p {
    font-family: serif;
}

pre code {
    font-size: 0.9em;
}

@media only screen and (min-width: 960px) {
    html, body {
        margin: 0;
        padding: 0
    }

    div#column-container {
        margin: 0 auto;
        width: 960px;
    }

    div.explanation {
        float: left;
        width: 50%;
    }

    div.example {
        float: right;
        width: 50%;
    }

    div.row {
        clear: both;
        margin-top: 15px;
        padding-top: 5px;
    }

    div.row:last-child {
        padding-bottom: 150px;
    }

    p.lead {
        line-height: 1.2em;
    }

    p.explain {
        line-height: 1.5em;
    }

}

@media only screen and (max-width: 640px) {

    p.lead {
        padding-left: 5px;
        padding-right: 5px;
    }

    div#column-container {
        padding: 15px;
    }

    div.explanation {
        display: block;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    div.example {
        display: block;
        padding-top: 0;
        margin-top: 0;
    }

    div.row {
        width: auto;
        padding-left: 5px;
        margin: 5px;
    }
}

div.row {
    border-top: 1px solid #b9b9b9;
}

div.app {
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #b9b9b9;
    padding: 5px;
}

p.aesthetic {
    text-align: center;
    font-size: 24pt;
    font-family: 'Arial', sans-serif;
}

p.explain, p.explain ul,  p.explain li, p.lead {
    margin-right: 10px;
}

p.warning {
    color: red;
}

textarea {
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #b9b9b9;
    margin: 0 auto;
}
